[global_config]
[keybindings]
[profiles]
  [[default]]
    background_darkness = 0.7
    background_type = transparent
    cursor_color = "#aaaaaa"
    font = Ricty Diminished for Powerline 14
    scrollback_lines = 20000
    login_shell = True
    use_system_font = False
    copy_on_selection = True
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
